.delay-indicator {
  height: 30px;
  position: relative;
  width: 200px;
  padding: 1px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  overflow: hidden;
  &__scale {
    height: 100%;
    background: #fff;
    width: 100%;
    animation: scaleGrow infinite linear;
    border-radius: 3px;
  }
}

@keyframes scaleGrow {
  0% {
    transform: scaleX(0);
    transform-origin: 0 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0 0;
  }
}