.App {
  text-align: center;

  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
}

.App-link {
  color: #61dafb;
}

.section-wrapper {
  max-width: 1200px;
  margin: auto;
  &_sm {
    width: 600px;
  }
}

.single-right {
  font-size: 15px;
  font-weight: 100;
  margin: 0 5px;
}

.validation {
  box-shadow: 0px 0px 10px #eb0000;
}

.fetch-error {
  font-size: 11px;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  color: #eb0000;
}

.submit-row {
  height: 100px;
}

.booked {
  color: #ff4343;
}

.close-btn {
  font-size: 80px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 100;
  cursor: pointer;
  transition: all .2s;
  &:hover {
    color: #ff4343;
  }
}